* {
    margin: 0;
    padding: 0;
    font-family: cursive,sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

#container {
        margin-left: auto;
        margin-right: auto;
        padding-left: auto;
        padding-right: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-container .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
}
.logo-img {
    width: 250px;
    height: 100px;
    backface-visibility: hidden;
}
.logo-img img {
    position: absolute;
    width: 250px;
    height: 100px;
    backface-visibility: hidden;
}
.logo-img .img2{
    opacity: 0;
}
.logo-img:hover .img2{
    opacity: 1;
}
.logo-header {
    font-size: 30px;
    color: #3399cc;
}

i.fab.fa-affiliatetheme {
    display: none;
}
nav {
    padding: 1px;
    position: relative;
}
nav#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav#menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav#menu ul li {
    position: relative;
    margin:5px;
}
nav#menu span::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 50%;
    background-color: #3399cc6b;
    transform: scaleY(0);
    transform-origin: bottom left;
    transition: transform 0.2s;
  
}
nav#menu span:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 50%;
    background-color: #3399cc6b;
    transform: scaleY(0);
    transform-origin: top right;
    transition: transform 0.2s 0.2s;
  }
  nav#menu span a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #3399cc6b;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.2s 0.3s;
}
nav#menu span a:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #3399cc6b;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.2s 0.1s;
  }
  nav#menu span:hover:before {
    transform: scaleY(2);
    transition: transform 0.2s 0.3s;
  }
  nav#menu span:after {
    transform: scaleY(2);
    transition: transform 0.2s 0.1s;
  }
  nav#menu span:hover a:before {
    transform: scaleX(1);
    transition: transform 0.2s;
  }
  nav#menu span:hover a:after {
    transform: scaleX(1);
    transition: transform 0.2s 0.2s;
  }
nav#menu ul li a{
    color: #3399cc;
    font-size: 25px;
    font-weight: bold;
    margin: 10px 10px;
}
a {
    text-decoration: none;
}
#index {
    text-shadow: 0.5px 1px 2px #222;
}
.about {
    padding-bottom: 10%;
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .img {
    position: relative;
    width: 389px;
    height: 259px;
    border-radius: 15px;
}
.about .img img {
    max-width: 100%;
}
.about .txt {
    flex-basis: 500px;
    margin: 10px;
}
.about p {
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    background-color: #3399cc;
    border: 1px solid #3399cc;
}
.main-tail h2 {
    color: #3399cc;
    font-size: 35px; 
}
.main-tail a , .main-tail p {
    margin: 10px 20px;
    font-size: 25px;
}
.main-tail a {
    transition: transform 0.5s;
    color: black;
    display: block;
}
.main-tail a:hover {
    color:#3399cc;
    transform: translatex(-8vh);
}
.main-tail{
    margin: 10px auto;
    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 420px 180px;
    grid-template-areas:
        "main main main main main main main main main main "
        "wave wave wave wave wave wave wave wave wave wave "; */
}
.main-tail > div {
    display: flex;
    justify-content: space-evenly;
}
/* .main-tail:first-child {
    grid-area: main;
}
.main-tail:last-child {
    grid-area: wave;
} */
.waves {
    position: relative;
    width: 100%;
    height:200px;
    margin-bottom: -7px;
    background-color: #3399cc6b;
    transform: rotateX(100deg);
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-10px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
.last-tail {
    margin: 100px auto 10px;
}
.last-tail p{
   text-align: center;
   margin-bottom: 20px;
}
.developer {
    color: #3399cc;
    font-size: 2.5vh;
    transition: transform 0.5s;
}
.developer:hover {
    transform: scale(1.5); 
    text-shadow: 1px 1px 2px #000;
}

@media (min-width:0px) and (max-width:768px) {
    .header-container .logo {
        width: 75%;
    }
    .purpose-body {
    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: 300px 300px 300px  300px 300px 300px ;
        grid-template-areas: "box1 ""box2 ""box3 ""box4 ""box5 ""box6 ";
    }
    i.fab.fa-affiliatetheme {
        display: block;
        margin-left: 10px;
    }
    nav#menu ul {
        visibility: hidden;
        position: absolute;
        background-color: #3399cc;
        top: 25px;
        left: 0px;
        display: block;
        width: 200px;
    }
    #menu:hover ul {
        visibility: visible;
    }
    nav#menu ul li a {
        color: #fff;
        transform: 1s;
    }
    nav#menu ul li:not(:last-child) {
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 3px solid #999;
    }
    nav#menu ul li a:hover {
        padding-right: 10px;
    }
    nav#menu ul ::before{
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #3399cc transparent;
        position: absolute;
        right: 160px;
        top: -22px;
        z-index: -1;
    }
    nav#menu span::before ,nav#menu span::after
     ,nav#menu span a::before ,  nav#menu span a::after {
        all:initial;
    }
    #index {
        text-shadow: 5px 5px 2px #959595;
        position: relative;
    }
    .main-tail > div {
        display: block;
    }
}
 @media (min-width:768px) and (max-width:991px) {
     #container {
        width: 750px;
    }
    .header-container .logo {
        width: 60%;
    }
    i.fab.fa-affiliatetheme {
        display: block;
        margin-left: 10px;
    }
    nav#menu ul {
        visibility: hidden;
        position: absolute;
        background-color: #3399cc;
        top: 25px;
        left: 0px;
        display: block;
        width: 200px;
    }
    #menu:hover ul {
        visibility: visible;
    }
    nav#menu ul li a {
        color: #fff;
        transform: 1s;
    }
    nav#menu ul li:not(:last-child) {
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 3px solid #999;
    }
    nav#menu ul li a:hover {
        padding-right: 10px;
    }
    nav#menu ul ::before{
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #742933 transparent;
        position: absolute;
        right: 160px;
        top: -22px;
        z-index: -1;
    }
    nav#menu span::before ,nav#menu span::after
     ,nav#menu span a::before ,  nav#menu span a::after {
        all:initial;
    }
    #index {
        text-shadow: 5px 5px 2px #959595;
        position: relative;
    }
    .main-tail > div {
        display: block;
    }
}
@media (min-width:992px) and (max-width:1199px){
    #container {
        width: 970px;
    }
    .header-container .logo {
        width: 40%;
    }
    nav#menu ul li a {
        font-size: 22px;
    }
    .main-tail > div {
        display: block;
    }
}
@media (min-width:1200px) {
    #container {
        width: 1170px;
    }
}